/* External CSS Style sheet for Session 3 - Assignment 1*/

body {
	text-align:center;
	background-color: #d1d1cc;
}

nav {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	line-height:40px;
	margin: auto;
}
		
		
#img_sec{
	align:center;
	margin:auto;
}
		
#text_sec{
	margin:auto;
	text-align:center;
}